#header {
    display: block;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.curso {
    margin: 20px;
}
.banner {
    float: left;
    width: 240px;
    height: 140px;
    margin-right: 32px;
    border-radius: 4px;
}
.title {
    font-weight: bolder;
    font-size: 1.6em;
}
.subtitle {
    font-size: 1.4em;
}